@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #d7d7d7;
    color: #2c3e50;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 20px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/

}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    
}

.jump-button {
    font-family: 'Cabin';
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 7px;
    background-color: #515154;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.jump-button:hover {
    background-color: #1a1a1a;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}


.stats-card {
    background-color: #252a2f;
    color: white;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10 px;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 16px;
    margin: 16px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.game-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgb(28, 32, 33);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 7px;
    background-color: #515154;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #252a2f;
    cursor: pointer;
}

@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
        align-items: center;
    }

    .game-card {
        width: 90%;
    }
}